<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Tutorials</title>
    <link rel="stylesheet" href= "{{ url_for('static', filename = 'css/workout_tut.css') }}" >
</head>
<body>
        <nav class="navbar">
            <div class="nav-container">
              <h1 class="logo">FAT<span>2</span>FIT</h1>
              <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/diet_workout">Diet & Workout</a></li>
                <li><a href="/workout_tut">Workout Tutorials</a></li>
                <li><a href="/about">About</a></li>
              </ul>
            </div>
          </nav>

          <h2 class="header-1">Compound Workouts</h2>
          <div class="container">
            
              <div class="exercise-card">
                  
                  <h4>Push-Ups</h4>
                  <iframe 
                      width="100%" 
                      height="200" 
                      src="https://www.youtube.com/embed/IODxDxX7oi4" 
                      title="Push-Ups" 
                      frameborder="0" 
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe>
                  <p>1. Muscles worked: Chest, shoulders, triceps, core, back.<br>2. Form tip: Straight body, elbows at 45°.</p>
              </div>
              <div class="exercise-card">
                  <h4>Pull-Ups</h4>
                  <iframe 
                  width="100%" 
                  height="200" 
                  src="https://www.youtube.com/embed/eGo4IYlbE5g?si=Hu0NONDiRvcKVWeo" 
                  title="Pull-Ups" 
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  <p>1. Muscles worked: Lats, biceps, shoulders, core, back.<br>2. Form tip: Full extension, pull chest up.</p>
              </div>

              <div class="exercise-card">
                <h4>Barbell Squats</h4>
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/bEv6CCg2BC8?si=zoREWn0Z7opwwMFx" 
                title="Squat" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>1. Muscles worked: Quads, hamstrings, glutes, core, calves.<br>2. Form tip: Straight back, knees aligned, heels.</p>
            </div>

            <div class="exercise-card">
              <h4>Deadlift</h4>
              <iframe width="100%" height="200" src="https://www.youtube.com/embed/e2cbNBLH5SQ?si=sVriO2gT9wiGYPSh" 
              title="Deadlift" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <p>1. Muscles worked: Hamstrings, glutes, lower back, core.<br>2. Form tip: Straight back, engage core, lift.</p>
          </div>


        <div class="exercise-card">
            <h4>Romanian Deadlift</h4>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/5bJEigM5iVg?si=YI48YMaIYOPJpPWE" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>1. Muscles worked: Hamstrings, glutes, lower back, core.<br>2. Form tip: Hinge at hips, straight back.</p>
        </div>


        <div class="exercise-card">
          <h4>Barbell Chest Press</h4>
          <iframe width="100%" height="200" src="https://www.youtube.com/embed/QsYre__-aro?si=GQOHd-D-H3r2dDVL" 
          title="Barbell Chest Press" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <p>1. Muscles worked: Chest, shoulders, triceps, core, back.<br>2. Form tip: Keep feet flat, controlled movement.</p>
      </div>

      <div class="exercise-card">
        <h4>Barbell Overhead Press</h4>
        <iframe width="100%" height="200" src="https://www.youtube.com/embed/QAQ64hK4Xxs?si=iWsQYX1VPVxXX7oz" 
        title="Barbell Overhead Press" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>1. Muscles worked: Shoulders, triceps, upper chest, core.<br>2. Form tip: Keep core tight, straight back.</p>
    </div>
</div>


<h2>Isolation Workouts</h2>
          <div class="container">
            
            <div class="exercise-card">
              <h4>Cable Chest Fly</h4>
              <iframe width="100%" height="200" src="https://www.youtube.com/embed/8Um35Es-ROE?si=3zAlZqV3pTVq1VWb" 
              frameborder="0" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <p>1. Muscles worked: Chest, shoulders, triceps, core.<br>2. Form tip: Slight bend, control movement, squeeze.</p>
              </div>


              <div class="exercise-card">
                <h4>Tricep Pushdown</h4>
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/-zLyUAo1gMw?si=trLT_4MvxQ2SViTj"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p>1. Muscles worked: Triceps, shoulders, forearms.<br>2. Form tip: Keep elbows close, controlled motion.</p>
                </div>

                <div class="exercise-card">
                  <h4>Cable overhead triceps</h4>
                  <iframe width="100%" height="200" src="https://www.youtube.com/embed/1u18yJELsh0?si=FnXAa-aoy0xcpBJK" 
                  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                  <p>1. Muscles worked: Triceps, shoulders, upper arms.<br>2. Form tip: Keep elbows stable, fully extend arms.</p>
                  </div>
    
                  <div class="exercise-card">
                    <h4>T-Bar Rows</h4>
                    <iframe width="100%" height="200" src="https://www.youtube.com/embed/KDEl3AmZbVE?si=xL1Os5DgfAx7KMMS" 
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <p>1. Muscles worked: Lats, rhomboids, traps, biceps, shoulders.<br>2. Form tip: Keep chest up, retract shoulder blades.</p>
                    </div>
      
                    <div class="exercise-card">
                      <h4>Preacher Curl</h4>
                      <iframe width="100%" height="200" src="https://www.youtube.com/embed/3mtXqrkbEfI?si=D3BwWnHmh8Pt_Hga"
                       frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                      <p>1. Muscles worked: Biceps, forearms.<br>2. Form tip: Keep elbows fixed, control movement.</p>
                      </div>
        
                      <div class="exercise-card">
                        <h4>Barbell shrugs</h4>
                        <iframe width="100%" height="200" src="https://www.youtube.com/embed/JatJyKQhjX4?si=MHxjpVwTONjOb3hN" 
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <p>1. Muscles worked: Traps, shoulders, upper back.<br>2. Form tip: Lift shoulders straight up, avoid rolling.</p>
                        </div>


                        <div class="exercise-card">
                          <h4>Leg Extension</h4>
                          <iframe width="100%" height="200" src="https://www.youtube.com/embed/tTbJBUKnWU8?si=dkwGxs30s0-5u6r1"
                          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                          referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                          <p>1. Muscles worked: Quadriceps, hip flexors.<br>2. Form tip: Extend fully, avoid locking knee.</p>
                          </div>
            
                          <div class="exercise-card">
                            <h4>Leg Press</h4>
                            <iframe width="100%" height="200" src="https://www.youtube.com/embed/s9-zeWzPUmA?si=HW9z8SsrdGk4ht6p"
                            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <p>1. Muscles worked: Quadriceps, hamstrings, glutes, calves.<br>2. Form tip: Keep feet flat, don't lock knees.</p>
                            </div>

                            <div class="exercise-card">
                              <h4>Calf Raises</h4>
                              <iframe width="100%" height="200" src="https://www.youtube.com/embed/CtyIVeJH6lI?si=KSDSl_Bt4ZV6Jwzf"
                              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                              referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                              <p>1. Muscles worked: Calves, soleus, gastrocnemius.<br>2. Form tip: Full extension, slow controlled descent.</p>
                              </div>             
                            
</div>


    <footer>
        <p>2025 LM Gym</p>
    </footer>
</body>
</html>
